/* 
    Author: Payeton Ross
    Course: CIS133DA 10560
    Lesson: 12
*/

body {
    /* invalid property name */
    background-color: #eee;
    font-family: Ariel, sans-serif;
    color: #000000;
}

/* added opening bracket for block, which fixed additional issues */
header {
    width: 80%;
    padding: 20px 0px;
    margin: 0 auto;
    text-align: center;
}

main {
    width: 80%;
    padding: 30px 0px;
    margin: 0 auto;
}

nav a {
    margin: 10px;
    padding: 2px;
    background-color: #ffffb8;
    color: #000000;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: Georgia, serif;
}

img {
    display: block;
    margin: auto;
    width: 300px;
}

table {
    /* removed & */
    width: 100%;
}

table,
th,
td {
    border: 1px solid #FFF;
    background-color: #ffffb8;
    /* added semi-colon to separate properties */
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: #8dd0ef;
}
/* removed extra closing bracket */

footer {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #8dd0ef;
    padding: 20px;
}